---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<div
  class="flex w-full flex-col items-stretch mt-12 max-md:max-w-full max-md:mt-10"
>
  <div
    class="gap-2.5 text-[27px] font-[511] tracking-[-0.54px] leading-[1.2] px-6 max-md:px-5"
  >
    {title}
  </div>
  <div
    class="text-2xl font-thin leading-[38px] mt-6 max-md:max-w-full"
    set:html={content}
  />
</div>
