---
const { className = '' } = Astro.props;
---
<button
  class={`cursor-pointer bg-[rgba(0,18,82,1)] shadow-[0px_2px_2px_rgba(81,101,247,1)] overflow-hidden text-base text-[rgba(236,236,236,1)] font-[711] px-5 py-[18px] rounded-[10px] transition-colors hover:bg-[rgba(0,24,110,1)] focus:outline-none focus:ring-2 focus:ring-[rgba(81,101,247,0.5)] active:translate-y-[1px] ${className}`}
>
  <slot />
</button> 