---
import DarkActionBtn from "./DarkActionBtn.astro";
---
<section class="bg-[rgba(0,14,116,1)] flex w-full flex-col overflow-hidden items-center justify-center pt-20 px-20 max-md:max-w-full max-md:px-5 max-md:pt-10">
  <div class="flex w-[941px] max-w-full flex-col items-center">
    <div class="flex w-[779px] max-w-full flex-col items-center text-center">
      <h2 class="text-white text-[63px] font-bold leading-none tracking-[-2.5px] max-md:max-w-full max-md:text-[28px] max-md:leading-[36px]">كل شيء في لوحة تحكّم واحدة</h2>
      <p class="text-[rgba(134,149,251,1)] text-xl font-normal leading-[35px] w-[485px] mt-3 max-md:max-w-full max-md:text-base max-md:leading-[24px]">صمّم، عدّل، واحفظ صفحاتك في مكان واحد — مع إمكانية التصدير بضغطة زر وقت ما تحتاج.</p>
    </div>
    <DarkActionBtn className="mt-6">ابدأ بدولار واحد</DarkActionBtn>
  </div>
  <div class="w-[1014px] max-w-full overflow-hidden mt-11 rounded-[16px_16px_0px_0px] max-md:mt-6">
    <img src="/dashboard.png" alt="dashboard" />
  </div>
</section>