---
---
<section class="bg-[rgba(0,14,116,1)] flex w-full flex-col overflow-hidden items-center justify-center pt-20 px-20 max-md:max-w-full max-md:px-5">
  <div class="flex w-[941px] max-w-full flex-col items-center">
    <div class="flex w-[779px] max-w-full flex-col items-center text-center">
      <h2 class="text-white text-[63px] font-bold leading-none tracking-[-2.5px] max-md:max-w-full max-md:text-[40px]">كل شيء في لوحة تحكّم واحدة</h2>
      <p class="text-[rgba(134,149,251,1)] text-xl font-normal leading-[35px] w-[485px] mt-3 max-md:max-w-full">صمّم، عدّل، واحفظ صفحاتك في مكان واحد — مع إمكانية التصدير بضغطة زر وقت ما تحتاج.</p>
    </div>
    <button class="bg-[rgba(0,18,82,1)] shadow-[0px_2px_2px_rgba(81,101,247,1)] min-h-12 overflow-hidden text-base text-[rgba(236,236,236,1)] font-bold mt-6 px-5 py-[18px] rounded-[10px]">ابدأ بدولار واحد</button>
  </div>
  <div class="w-[1014px] max-w-full overflow-hidden mt-11 rounded-[16px_16px_0px_0px] max-md:mt-10">
    <img src="/dashboard.png" alt="dashboard" />
  </div>
</section> 