---
const { src, alt } = Astro.props;
---
<button
  type="button"
  class="border flex flex-col justify-center w-[74px] h-[74px] p-3 rounded-[20px] border-[rgba(255,255,255,0.2)] border-solid hover:border-[rgba(255,255,255,0.4)] hover:bg-[rgba(0,24,110,1)] cursor-pointer"
>
  <img
    src={src}
    class="aspect-[1] object-contain w-full h-full"
    alt={alt}
  />
</button> 