---
import FeatureCard from "./FeatureCard.astro";
import DarkActionBtn from "./DarkActionBtn.astro";
---

<section
  class="bg-[rgba(1,8,38,1)] flex w-full flex-col items-stretch px-5 py-20 max-md:max-w-full max-md:py-10"
>
  <div
    class="flex flex-col relative min-h-[183px] w-full items-stretch text-center py-6 max-md:max-w-full"
  >
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/77dd8fcdd5f5a13f6e23fe88fd69224771c31d6f?placeholderIfAbsent=true"
      class="absolute h-full w-full object-cover inset-0"
      alt="Features Background"
    />
    <h2
      class="relative w-full gap-2.5 text-[56px] text-[rgba(236,236,236,1)] font-medium tracking-[-0.32px] leading-[1.2] p-2.5 max-md:max-w-full max-md:text-[28px] max-md:leading-[36px]"
    >
      لماذا يختار المئات BlazePage كل يوم؟
    </h2>
    <p
      class="relative text-[rgba(134,149,251,1)] text-xl font-normal leading-[1.6] self-center mt-4 max-md:max-w-full max-md:text-base max-md:mt-2"
    >
      مميزات مصمّمة خصيصًا لتساعدك على البيع بسرعة وسهولة وبتكلفة رمزية.
    </p>
  </div>
  <div class="self-center w-[1200px] max-w-full mt-20 max-md:mt-6">
    <div
      class="w-full grid grid-cols-2 gap-6 max-md:max-w-full max-md:grid-cols-1 max-md:gap-4"
    >
      <FeatureCard
        imgSrc="https://cdn.builder.io/api/v1/image/assets/TEMP/a7c717edcbe18aeab5af797f27ee21eb8f1a870b?placeholderIfAbsent=true"
        imgAlt="Fast Icon"
        title="سريع"
        description="وداعًا للانتظار أو التواصل الطويل مع المصممين. مع BlazePage، صفحتك جاهزة للنشر خلال دقائق، فقط أدخل صورة المنتج وسعره… وسيتولى النظام الباقي."
        buttonText="ابدأ بدولار واحد"
      />
      <FeatureCard
        imgSrc="https://cdn.builder.io/api/v1/image/assets/TEMP/bf813acaf80fbb277ac7555fb633c7a9a62860a0?placeholderIfAbsent=true"
        imgAlt="Money Icon"
        title="موفر للمال"
        description="التصميم التقليدي قد يكلفك 100 دولار أو أكثر لكل صفحة. BlazePage يقدّم لك نفس النتيجة (وأحيانًا أفضل!) مقابل دولار واحد فقط. مثالي لروّاد الأعمال وأصحاب المشاريع الصغيرة."
        buttonText="ابدأ بدولار واحد"
      />
      <div
        class="relative col-span-2 max-md:col-span-1 flex border rounded-[20px] border-[rgba(255,255,255,0.2)] border-solid"
      >
        <div
          class="absolute inset-0 bg-black"
          style="background: linear-gradient(to bottom, rgba(81, 101, 247, 0.17) 0%, rgba(110, 143, 255, 0) 100%);"
        >
        </div>
        <div class="z-10 flex max-md:flex-col-reverse">
          <img
            class="w-1/2 p-[60px] max-md:w-full"
            src="https://cdn.builder.io/api/v1/image/assets/601c5247c74644d2b1410bca5180228b/fdedf0eacd417e5f85b1060443170c0179f497bf?placeholderIfAbsent=true"
            alt="smart-illustration.png"
          />
          <div class="w-1/2 max-md:w-full flex flex-col flex-1 p-[60px] max-md:px-5">
            <img
              src="https://cdn.builder.io/api/v1/image/assets/601c5247c74644d2b1410bca5180228b/88138737b53f94417c6b8ccf61565ed13fa0ca01?placeholderIfAbsent=true"
              class="aspect-[1] object-contain w-[50px] shadow-[0px_0px_11px_rgba(255,195,0,1)] rounded-[10px]"
              alt="Arabic Icon"
            />
            <div
              class="flex w-full flex-col items-stretch mt-4 max-md:max-w-full"
            >
              <div class="w-full text-right max-md:max-w-full">
                <h3
                  class="text-[rgba(236,236,236,1)] text-[32px] font-medium leading-[1.3] tracking-[-0.16px] max-md:max-w-full"
                >
                  مصمّم للعالم العربي
                </h3>
                <p
                  class="text-[rgba(134,149,251,1)] text-base font-normal leading-6 mt-2.5 max-md:max-w-full"
                >
                  لا حاجة لكتّاب محتوى أو خبراء تسويق. باستخدام BlazePage، تحصل
                  على نصوص بيع مكتوبة بأسلوب سردي نفسي لزيادة التحويل. يمكنك
                  التبديل إلى الإنجليزية أو الفرنسية أو الألمانية.
                </p>
              </div>
              <DarkActionBtn className="mt-8">ابدأ بدولار واحد</DarkActionBtn>
            </div>
          </div>
        </div>
      </div>
      <FeatureCard
        imgSrc="https://cdn.builder.io/api/v1/image/assets/601c5247c74644d2b1410bca5180228b/fc613f455c09fb803e21bac495f921601ca0f23f?placeholderIfAbsent=true"
        imgAlt="Export Icon"
        title="تصدير مرن"
        description="سواء كنت تريد استخدام الصفحة كصورة، أو رفعها كـ HTML، أو ربطها مباشرة بـ Shopify أو غيره — BlazePage يمنحك المرونة الكاملة للتصدير كيفما تشاء، ومتى تشاء."
        buttonText="ابدأ بدولار واحد"
      />
      <FeatureCard
        imgSrc="https://cdn.builder.io/api/v1/image/assets/601c5247c74644d2b1410bca5180228b/df9844e481318745d03ea0361b384cc43256a518?placeholderIfAbsent=true"
        imgAlt="Arabic Icon"
        title="مصمّم للعالم العربي"
        description="يفهم الثقافة العربية! من الخطوط الدقيقة، إلى تنسيقات BlazePage النصوص من اليمين إلى اليسار، ومن الألوان إلى الرسائل — كل صفحة تُبنى لتناسب الذوق والسياق العربي، بدون أي تعديل يدوي."
        buttonText="ابدأ بدولار واحد"
      />
    </div>
  </div>
</section>
