<footer class="bg-black flex flex-col items-stretch pt-20 pb-10 px-20 max-md:px-5">
  <div class="flex w-full gap-[40px_56px] justify-center flex-wrap max-md:max-w-full">
    <div class="flex min-w-60 flex-col items-stretch flex-1 shrink basis-[0%] max-md:max-w-full">
      <div class="flex w-full flex-col items-stretch text-right leading-none max-md:max-w-full">
        <div class="gap-[19px] text-[42px] text-white font-[622]">بلايز بايج</div>
        <div class="text-white text-2xl font-normal mt-6 max-md:max-w-full">مع BlazePage، كل منتج له قصة تبيع</div>
      </div>
      <div class="flex gap-6 mt-11 max-md:mt-10">
        <img src="https://cdn.builder.io/api/v1/image/assets/601c5247c74644d2b1410bca5180228b/4065afa90426d4982ed30098855e11ea075e4e6f?placeholderIfAbsent=true" class="aspect-[1] object-contain w-6 shrink-0" alt="Social media icon 4" />
        <img src="https://cdn.builder.io/api/v1/image/assets/601c5247c74644d2b1410bca5180228b/c4ab7807bbc95d9b2ee3fc1852415e89851b0cb8?placeholderIfAbsent=true" class="aspect-[1] object-contain w-6 shrink-0" alt="Social media icon 3" />
        <img src="https://cdn.builder.io/api/v1/image/assets/601c5247c74644d2b1410bca5180228b/ff0dece52b1f990a9ce2e5f505275c0d11f37f6e?placeholderIfAbsent=true" class="aspect-[1] object-contain w-6 shrink-0" alt="Social media icon 2" />
        <img src="https://cdn.builder.io/api/v1/image/assets/601c5247c74644d2b1410bca5180228b/32c0cc94d723ebe9b5c996832ad0c8c4ba81050f?placeholderIfAbsent=true" class="aspect-[1] object-contain w-6 shrink-0" alt="Social media icon 1" />
      </div>
    </div>
    <div class="flex min-w-60 font-normal text-right leading-none justify-between flex-wrap w-[727px] max-md:max-w-full">
      <div class="flex min-w-60 flex-col items-stretch whitespace-nowrap flex-1 shrink basis-[0%]">
        <div class="text-white text-2xl tracking-[-0.46px]">الشركة</div>
        <div class="w-full text-xl text-white tracking-[-0.38px] mt-5">الرئيسة</div>
      </div>
      <div class="flex min-w-60 flex-col items-stretch flex-1 shrink basis-[0%]">
        <div class="text-white text-2xl tracking-[-0.46px]">السياسات</div>
        <div class="w-full text-xl text-white tracking-[-0.38px] mt-5">سياسة الخصوصية</div>
      </div>
      <div class="flex min-w-60 flex-col flex-1 shrink basis-[0%]">
        <div class="text-white text-2xl tracking-[-0.46px]">اتصل بنا</div>
        <div class="flex flex-col text-xl text-white whitespace-nowrap tracking-[-0.38px] mt-5">
          <div class="flex items-center gap-2 justify-end">
            <div class="self-stretch my-auto">support@blazepage.pro</div>
            <img src="https://cdn.builder.io/api/v1/image/assets/601c5247c74644d2b1410bca5180228b/a8a37ad8ea2c9739d0dfab309cde97f580927bc1?placeholderIfAbsent=true" class="aspect-[1] object-contain w-5 self-stretch shrink-0 my-auto" alt="Email icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[rgba(34,34,34,1)] flex min-h-0.5 w-full mt-11 max-md:max-w-full max-md:mt-10"></div>
  <div class="text-white text-xl font-normal leading-none text-center mt-11 max-md:max-w-full max-md:mt-10">© 2025 BlazePage. جميع الحقوق محفوظة.</div>
</footer> 