---
import LightActionBtn from "./LightActionBtn.astro";
import DarkActionBtn from "./DarkActionBtn.astro";
import ExampleButton from "./ExampleButton.astro";
---

<div class="flex flex-col relative min-h-[846px] w-full max-md:max-w-full">
  <div
    class="relative flex flex-col lg:flex-row w-full overflow-hidden pl-[41px] pr-[72px] py-20 max-md:max-w-full max-md:px-5 max-md:pt-[40px]"
  >
    <div class="">
      <div class="flex w-full flex-col items-stretch max-md:max-w-full">
        <div
          class="flex w-full flex-col items-sta font-normal text-right leading-[1.6] max-md:max-w-full"
        >
          <div class="w-full">
            <div
              class="w-fit bg-[rgba(14,3,105,1)] border flex items-center gap-2.5 text-lg text-white justify-center flex-wrap px-4 py-1.5 rounded-[22px] border-[rgba(255,255,255,0.2)] border-solid max-md:max-w-full max-md:text-base"
            >
              <p class="self-stretch my-auto">
                <img
                  src="/ai-badge.svg"
                  class="inline"
                  width="24"
                  height="25"
                  alt="AI Badge"
                />
                أول مصمّم صفحات هبوط بالذكاء الاصطناعي في العالم العربي
              </p>
            </div>
          </div>
          <h1
            dir="rtl"
            class="text-[76px] font-medium leading-[90px] tracking-[-2.28px] self-stretch mt-5 max-md:max-w-full max-md:text-[32px] max-md:leading-[40px] text-white"
          >
            صمّم صفحة هبوط في ثوانٍ… وبدولار واحد فقط!
          </h1>
          <p
            class="max-w-full text-xl text-[rgba(134,149,251,1)] mt-5 max-md:max-w-full max-md:text-base max-md:mt-3"
          >
            حوّل صورة وسعر منتجك إلى صفحة تبيع، بدون مصمم، وبتكلفة رمزية.
          </p>
        </div>
        <div
          class="flex gap-4 text-base mt-8 max-md:flex-row max-md:gap-2 max-md:mt-4"
        >
          <LightActionBtn>
            <span class="self-stretch my-auto">ابدأ بدولار واحد</span>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/065718920845e894cea8c760cf8d26717bdbac64?placeholderIfAbsent=true"
              class="aspect-[1] object-contain w-6 self-stretch shrink-0 my-auto"
              alt="Icon"
            />
          </LightActionBtn>
          <DarkActionBtn> تسجيل الدخول </DarkActionBtn>
        </div>
      </div>
      <div class="flex w-full flex-col items-stretch mt-10 max-md:max-w-full">
        <div
          class="text-[rgba(134,149,251,1)] text-xl font-normal leading-[1.6] text-right max-md:max-w-full max-md:text-base"
        >
          أمثلة
        </div>
        <div class="flex gap-6 flex-wrap mt-4 max-md:max-w-full">
          <ExampleButton src="/rgb.png" alt="Example 1" />
          <ExampleButton src="/grill.png" alt="Example 2" />
          <ExampleButton src="/rgb.png" alt="Example 3" />
          <ExampleButton src="/grill.png" alt="Example 4" />
        </div>
      </div>
    </div>
    <img
      class="aspect-[0.85] object-contain w-[430px] md:w-[517px]"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/6f455ad5efefce26a6d3d6c52b6769d3bbff209a?placeholderIfAbsent=true"
      alt="Hero Image"
    />
  </div>
</div>
