---
const { className = "" } = Astro.props;
---

<button
  class={`px-[20px] h-[48px] cursor-pointer bg-[rgba(38,75,204,1)] hover:bg-[rgba(38,75,190,1)] shadow-[0px_2px_2px_rgba(81,101,247,1)] flex items-center gap-1 overflow-hidden text-base text-white font-[622] justify-center rounded-[10px] ${className}`}
>
  <slot />
</button>
