---
import LightActionBtn from "./LightActionBtn.astro";
import DarkActionBtn from "./DarkActionBtn.astro";
---

<nav
  class="relative flex w-full overflow-hidden justify-center px-6 max-md:max-w-full max-md:px-5 h-[80px]"
>
  <div class="bg-[rgba(0,8,63,0.49)] blur-xl absolute inset-0"></div>
  <div class="z-10 flex w-[1200px] items-center justify-between">
    <!-- logo -->
    <a href="/">
      <img
        src="/logo.svg"
        width="130"
        height="40"
        alt="BlazePage Logo"
        class="max-h-[40px] max-w-[130px]"
      />
    </a>

    <div class="flex items-center gap-3">
      <LightActionBtn className="self-stretch">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/065718920845e894cea8c760cf8d26717bdbac64?placeholderIfAbsent=true"
          class="aspect-[1] object-contain w-6 self-stretch shrink-0 my-auto"
          alt="Icon"
        />
        <span class="self-stretch my-auto">ابدأ بدولار واحد</span>
      </LightActionBtn>

      <DarkActionBtn className="self-stretch max-md:hidden">
        تسجيل الدخول
      </DarkActionBtn>
    </div>
  </div>
</nav>
