---
---
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazePage</title>
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-[rgba(12,2,34,1)] flex flex-col items-stretch">
    <slot />
  </body>
</html> 